# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Filer\OneDrive - Høgskulen på Vestlandet\Skole\Y2\DAT110\Java\dat110-project3-startcode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
